:root{
  --primary: #eda80a;
  --primaryLight: #ffd94c;
  --primaryDark: #b57900;

  --secondary: #80deea;
  --secondaryLight: #b4ffff;
  --secondaryDark: #4bacb8;

  --almostBlack: #1f1f1f;

  --mainFont: 'Montserrat', sans-serif;
  --headingFont: 'Krona One', sans-serif;

  --shadow1: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  --shadow2: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  --shadow3: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  --shadow4: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  --shadow5: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

*{
  margin: 0;
  font-family: var(--mainFont);
  color: var(--almostBlack);
  box-sizing: border-box;
}

html, body{
  height: 100%;
}

a{
  text-decoration: none;
  color: var(--almostBlack);
}

a:hover{
  color: var(--almostBlack);
}

nav{
  width:100%;
  background-color: var(--primary);
  height: 64px;
  display: flex;
  align-items: center;
  padding: 0 16px;
  position: fixed;
}

.active{
  text-decoration: underline;
  font-weight: bold;
}

nav *{
   margin: 0 8px;
}

nav .navLogo{
  font-size: 32px;
  font-family: var(--headingFont);
  font-weight: normal;
}

nav .filler{
  flex-grow: 1;
}

h1, h2, h3, h4{
  font-family: var(--headingFont);
}

.circleBorder{
  border-radius: 8px;
  padding: 8px 12px;
  border: 1px solid var(--almostBlack);
}

.container{
  padding-top: 80px;
  width: 1200px;
  margin: auto;
}

.splashContainer{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main5{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  max-width: 1600px;
}

.imageWithSubtext{
  display: flex;
  flex-direction: column;
  align-items: center;
  /*background-color: blue;*/
}

.imageWithSubtext img{
  width: 200px;
  margin-bottom: 16px;
  border-radius: 8px;
  box-shadow: var(--shadow2);
}

.imageWithSubtext.mainImage img{
  width: 320px;
}

.imageWithSubtext.mainImage p{
  text-transform: uppercase;
  font-size: 20px;
}

.readMore{
  position: fixed;
  bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  left: 50%;
transform: translateX(-50%);
}

.readMore .circle{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  background-color: var(--primary);
  border-radius: 50%;
  line-height: 0px;
  box-shadow: var(--shadow2);
  margin-bottom: 4px;
}

.readMore .circle .material-icons{
  font-size: 24px;
}

.readMore p{
  font-size: 14px;
}

.pointer:hover{
  cursor: pointer;<!DOCTYPE html>
  <html lang="en" dir="ltr">
    <head>
      <meta charset="utf-8">
      <title>Cat's Pajamas</title>
      <!--BOOTSTRAP-->
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

      <!--JQUERY-->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

      <!--MATERIAL DESIGN ICONS-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
        rel="stylesheet">



      <!--FONTS-->
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,600;1,400&display=swap" rel="stylesheet">
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Krona+One&display=swap" rel="stylesheet">

      <!--MAIN CSS-->
      <link rel="stylesheet" href="styles/main.css">
    </head>
    <body>
      <nav>
        <a href="home.html" class="navLogo">Cat's Pajamas</a>
        <a href="Portfolio.html">Portfolio</a>
        <a href="store.html">Store</a>
        <div class="filler"></div>
        <a href="contactUs.html" class="circleBorder">Contact us</a>
        <a href="cart.html"><span class="material-icons pointer">shopping_cart</span></a>
      </nav>

      <div class="container">
        <h1 class="">Portfolio</h1>
        <p>This page will show all our work, along with a filter that will filter [Film/animation, Web/app dev, Game dev, Logos and branding]</p>
        <p>The "VIEW IN PORTFOLIO" buttons on the home page should link to this page with the filters already applied</p>
      </div>
    </body>
  </html>

}
